body{
    font-family: 'Nova Square', cursive; 
    }

    h1{font-size: 50px;}
    
    section
    {
        display: flex;
        margin-bottom: 50px;
    }
   .imagedivision
   {
       width: 55%;
       padding-left: 20PX;
   }
   .imagedivision img{
       width: 70%;
   }
   .link-button{
       text-decoration: none ;
       background-image: linear-gradient(red , yellow); 
       color: white;
       font-weight : 700;
       padding: 10px 40px;
       border-radius: 5px;
       r
   }
.top-banner{
    background-repeat: no-repeat;
}

.about-me {
    background-image: url(images/dream-bg.png) ;
    background-repeat: no-repeat;
    background-position: right;
}